<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069513161129-608v3p4m77in6tf5k3vr20acauh5uqqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069513161129-608v3p4m77in6tf5k3vr20acauh5uqqb</string>
	<key>API_KEY</key>
	<string>AIzaSyCO5nCPSBTLlmpD49bFrDaC5ftVwVebFiA</string>
	<key>GCM_SENDER_ID</key>
	<string>1069513161129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.customermygas.bestweb.myGas</string>
	<key>PROJECT_ID</key>
	<string>mygas-fe7c2</string>
	<key>STORAGE_BUCKET</key>
	<string>mygas-fe7c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069513161129:ios:1e5242d8de143d1db12cb8</string>
	<key>DATABASE_URL</key>
	<string>https://mygas-fe7c2.firebaseio.com</string>
</dict>
</plist>